<div class="mosaic-block element"  style="width: {{width}}px; height: {{width}}px;">
    <div>
         <a href="http://dzblogday.org"><img  width="{{width}}px" src="{{ asset('images/empty.png') }}" /></a>
    </div>
</div>
